@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #b88066;
$dark-brown: #311506;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$family-sans-serif: "Roboto", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $brown;
$primary-dark: $dark-brown;
$link: $primary;
$box-shadow: none;
$input-focus-box-shadow-size: 0;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// $body-background-color: $beige-lighter;
$control-border-width: 0px;
// $input-border-color: transparent;
$input-shadow: none;
$table-border: $primary;

// @import "../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
// @import "../../node_modules/bulma/sass/elements/container.sass";
// @import "../../node_modules/bulma/sass/elements/form.sass";
// @import "../../node_modules/bulma/sass/elements/title.sass";
// @import "../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";
@import "~bulma/bulma";
