/* * {
    font-family: 'Roboto', sans-serif;
} */

body {
    background-color: #ebdfd9;
    color: #573535;
    margin: 0px;
}

.menu {
    background-color: #fafafa
}

.menu tr {
    border-left: solid 20px #fafafa;
    border-right: solid 20px #fafafa;
    border-bottom: 1px solid #ebebeb;
    -webkit-transition: all 0.25s;
    /* Safari */
    transition: all 0.25s;
}

.menu tr:hover {
    background-color: #f2f2f2;
    border-left-color: #f2f2f2;
    border-right-color: #f2f2f2;
}

.choice {
    font-size: 14px;
    /* color: black; */
}

.col.s2 {
    text-align: right;
}

.choice-header {
    background-color: #fafafa;
    /* color: #9e9e9e; */
    margin-bottom: 10px;
}

.sticky-footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: #ff4d4d;
}

.sticky-footer-placeholder {
    height: 100px;
}

.main-body {
    margin-left: 260px;
    min-width: 550px;
}

.wrapper {
    position: fixed;
    z-index: 1;
    background-color: #1b1c1d;
    width: 250px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: #fff;
    font-weight: 400;
    border: 1px solid rgba(34, 36, 38, .15);
    -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    min-height: 2.85714286em;
    border-radius: 0;
    border-width: 0 1px 0 0;
    box-shadow: none;
    margin: 0;
    width: inherit;
    overflow: hidden;
    will-change: transform;
    max-height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: 0 solid transparent;
    background: #1b1c1d;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15)
}

/* body {
    overflow-x: hidden;
    padding: 0!important;
    overflow-x: hidden;
    min-width: 320px;
    background: #fff;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    font-smoothing: antialiased;
    margin: 0;
}

body, html {
    height: 100%;
}

#app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
} */